body {
  font-family: "Poppins", sans-serif;
  color: #22343d;
  background-color: #fff;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

button {
  background-color: transparent;
  cursor: pointer;
}

img {
  display: block;
}

.container {
  width: 411px;
  margin: 0 auto;
}

@media screen and (min-width: 1150px) {
  .container {
    width: 1150px;
    padding: 0 20px;
    margin: 0 auto;
  }
}

.header .container {
  padding-right: 27px;
  padding-left: 32px;
  box-shadow: 0 -2px 8px 0 rgba(0, 0, 0, 0.25);
}

.mobile-header {
  display: flex;
  justify-content: space-between;
}

.header-logo {
  font-weight: 700;
  font-size: 30px;
  line-height: 0.93;
  color: #173a56;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding-top: 17px;
  padding-bottom: 16px;
}

.nav-list,
.header-list-button {
  display: none;
}

.burger-menu {
  padding: 0;
  border: none;
}

.burger-icon {
  display: block;
  stroke: #173a56;
}

@media screen and (min-width: 1150px) {
  .header .container {
    display: flex;
    align-items: center;
    box-shadow: none;
  }

  .burger-menu {
    display: none;
  }

  .header-nav {
    display: flex;
    align-items: center;
  }

  .header-logo {
    gap: 16px;
  }

  .header-logo-icon {
    margin-right: 16px;
  }

  .header-nav .header-logo {
    margin-right: 237px;
  }

  .nav-list {
    display: flex;
    gap: 30px;
  }

  .link-nav {
    line-height: 1.75;
    padding: 26px 0;
    display: block;
  }

  .current {
    font-weight: 600;
  }

  .header-list-button {
    display: flex;
    margin-left: auto;
    gap: 21px;
  }

  .header-button {
    font-weight: 600;
  }

  .header-sign-in {
    min-width: 105px;
    height: 42px;
    border: 1px solid #bcd0e5;
    border-radius: 4px;
    color: #173a56;
  }

  .header-sign-up {
    min-width: 113px;
    height: 42px;
    border: none;
    border-radius: 4px;
    background-color: #02897a;
    color: #fff;
  }
}
/* section hero */

.hero {
  padding: 29px 21px 50px 21px;
}

.hero-img {
  margin-left: auto;
  margin-right: auto;
  width: 338px;
  align-self: start;
  margin-bottom: 11px;
}

.hero-container {
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

.hero-text-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.67;
  text-align: center;
  margin-bottom: 16px;
  max-width: 353px;
}

.hero-text {
  font-size: 18px;
  line-height: 1.56;
  text-align: center;
  margin-bottom: 32px;
  max-width: 298px;
}

.hero-list {
  display: flex;
  gap: 28px;
  align-items: center;
}

.btn-hero-start {
  border-radius: 4px;
  min-width: 142px;
  min-height: 53px;
  background-color: #02897a;
  border: none;
  font-weight: 700;
  color: #fff;
}

.hero-icon {
  fill: #02897a;
}

.watch-video {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-hero-watch {
  border: none;
  font-weight: 600;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #02897a;
}

@media screen and (min-width: 1150px) {
  .hero {
    padding: 25px 0 50px 0;
  }

  .hero-container {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .hero-text-wrap {
    max-width: 465px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .hero-title {
    font-size: 40px;
    line-height: 1.5;
    margin-bottom: 18px;
    max-width: 380px;
    text-align: left;
    text-indent: 0;
  }

  .hero-text {
    text-align: left;
    margin-bottom: 45px;
    text-align: left;
    text-indent: 0;
  }

  .hero-list {
    gap: 30px;
  }

  .btn-hero-start {
    min-width: 178px;
  }

  .hero-img {
    width: 610px;
  }
}

/* section product */

.product {
  padding: 50px 0;
}

.product-title {
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  margin-top: 16px;
  margin-bottom: 50px;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 37px;
  margin-bottom: 37px;
}

.product-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 240px;
}

.product-color {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 19px;
  margin-bottom: 24px;
}

.product-color-one {
  background-color: #02897a;
}

.product-color-two {
  background-color: #4d8dff;
}

.product-color-three {
  background-color: #740a76;
}

.product-color-four {
  background-color: #f03e3d;
}

.product-icon {
  fill: #fff;
}

.product-subtitle {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 8px;
  text-align: center;
}

.product-text {
  line-height: 1.63;
  text-align: center;
}

.product-btn {
  border-radius: 4px;
  min-width: 175px;
  height: 53px;
  background-color: #02897a;
  border: none;
  font-weight: 700;
  color: #fff;
  margin: 0 auto;
  display: block;
}

@media screen and (min-width: 1150px) {
  .product-title {
    max-width: 506px;
    margin-top: 0;
  }

  .product-list {
    gap: 30px;
    margin-bottom: 50px;
  }

  .product-item {
    width: calc((100% - 90px) / 4);
    align-items: flex-start;
  }

  .product-color {
    width: 54px;
    height: 54px;
    margin-bottom: 26px;
  }

  .product-subtitle {
    margin-bottom: 13px;
  }

  .product-text {
    text-align: left;
  }
}

/* section management */

.management {
  padding: 100px 31px 50px 31px;
}

.management .container {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 50px;
}

.management-title,
.support-title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 8px;
}
.management-title-descr,
.support-title-descr {
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 16px;
}
.management-subtitle {
  line-height: 1.63;
  margin-bottom: 16px;
}
.management-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.management-item-subtitle {
  font-weight: 600;
  line-height: 1.63;
  margin-bottom: 12px;
}
.management-item-text {
  line-height: 1.63;
  max-width: 334px;
}

.management-img {
  width: 349px;
}

@media screen and (min-width: 1150px) {
  .management {
    padding: 50px auto;
  }

  .management .container {
    flex-direction: row;
    justify-content: space-between;
  }

  .management-title-descr,
  .support-title-descr {
    margin-bottom: 25px;
  }

  .management-subtitle {
    margin-bottom: 30px;
  }

  .management-subtitle {
    max-width: 464px;
    margin-bottom: 30px;
  }

  .management-list {
    gap: 25px;
  }

  .management-item-text {
    max-width: 440px;
  }

  .management-img {
    width: 540px;
  }
}

/* secton support */

.support {
  padding: 50px 0;
}

.container {
  padding-right: 30px;
  padding-left: 31px;
}

.support .container {
  display: flex;
  flex-wrap: wrap;
}
.support-img {
  margin-bottom: 50px;
}

.support-subtitle {
  line-height: 1.63;
  margin-bottom: 16px;
}
.support-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.support-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.support-icon-wrap {
  border: 3px solid #fff;
  border-radius: 14px;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.support-icon-wrap-one {
  background-color: #f90;
}

.support-icon-wrap-two {
  background-color: #f03e3d;
}

.support-icon-wrap-three {
  background-color: #4d8dff;
}

.support-icon {
  fill: #fff;
}
.support-item-text {
  line-height: 1.63;
}

.support-img {
  width: 350px;
}

@media screen and (min-width: 1150px) {
  .support .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    gap: 84px;
  }

  .support-img {
    margin-bottom: 0;
    width: 540px;
  }

  .support-text-wrap {
    max-width: 450px;
  }
  .support-list {
    gap: 25px;
  }

  .support-item {
    gap: 30px;
  }

  .support-item-text {
    width: 346px;
  }
}
